[2020-07-19 14:05] matthewbaa opened #1 "Unable to login in on Android to local server without https"
Hi again István,

The client is AnkiDroid 2.11.3, whilst the server is running a self-built image for my Pi's ARM architecture, following your response to https://github.com/kuklinistvan/docker-anki-sync-server/issues/11.

The server is confirmed to be accessible on the local network through 192.168.x.x, if I try `curl 192.168.x.x`, it returns `Anki Sync Server`, as expected. However, after settin

[2020-07-25 18:50] plewin commented on #1
AnkiDroid allows non https communication only to localhost (ref https://github.com/ankidroid/Anki-Android/blob/master/AnkiDroid/src/main/res/xml/network_security_config.xml)

It is not required to have a domain to generate a SSL certificate, https://192.168.x.x can work with your own CA. Home routers sometimes have self generated certificates so you can configure them with https://192.168.x.x
No p

[2020-07-26 09:03] kuklinistvan commented on #1
Hello there! Sorry for the long delay, I did not get a notification for some reason. I'll get back to you soon!

[2020-07-26 09:26] kuklinistvan commented on #1
Hello again!
@matthewbaa,
Keep in mind that the currently supported AnkiDroid version is 2.9.1 - you may give that a try.

If I understand correctly, the new version does not allow plain unencrypted http connections - at least according to the references of @plewin. (thank you for linking these!) Also, I think they have pointed out most of your options.

Either you may set up a local dns server on

[2020-07-31 10:06] VikashKothary opened #2 "Docker Image for Builds"
We've now got a CI for https://github.com/ankicommunity/anki-sync-server. It needs a docker image for build process. I'm currently using this this image but it doesn't allow building the lastest verson of the `psutil` library.

Add this would fix that:
[code]
Source: https://github.com/giampaolo/psutil/issues/664.

Alternatively, we could have separate development and prod images, which would prob

[2020-08-01 10:42] matthewbaa commented on #1
Thank you all! I think I'll edit the manifest and rebuild the application, if not, I'll try the other methods.

I'll reopen if all else fails. :)

[2020-08-01 10:42] #1 closed

[2020-08-23 14:39] VikashKothary opened #3 "Use Environment Variables"
We should remove https://github.com/ankicommunity/docker-anki-sync-server/blob/master/Docker/config/ankisyncd.conf.example and use environment variables (https://github.com/ankicommunity/anki-sync-server#envvar-configuration-overrides) instead.

This will simplify the build and more familiar to Docker users. This will be the preferred method of configuration in the future. Thoughts?

[2020-08-23 19:48] VikashKothary commented on #3
I agree with what you're saying. We shouldn't make a breaking change. By default, environment variables will work and override the config anyway. But for the future, imo we should advice the use of environment variables, as future versions of the sync server may remove the configuration file.

We can close this issue for now.

[2020-08-23 19:56] VikashKothary commented on #2
Nope. The current docker image is for running the anki sync server and it runs fine.

But for development we've got other libraries e.g. for testing, linting, building documentation, etc. Once of those libraries `psutil` doesn't work on alpine linux without the above dependencies.

We could add the dependency to the existing docker image, however, that would increase the size of the image and woul

[2020-08-24 05:27] memiks opened #4 "Suggestion: add an Healthy Check in the Dockerfile"
Hi Community,

I added a HEALTHCHECK test to the docker image by included this line at the end of Dockerfile:

[code]

This check every 30s if server is up and let 3s to respond.
I think it could be good to add it directly in the Dockerfile.

Best Regards,
Memiks.

[2020-08-24 06:11] kuklinistvan commented on #2
Ah I see, okay.

[2020-08-24 14:20] kuklinistvan commented on #4
Hello there,

Thank you for contacting! Yeah, good idea, it makes detecting errors easier. I'm adding that line soon.

István

[2020-08-24 14:22] kuklinistvan commented on #3
Out of interest, why do we wish to deprecate the configuration file? I mean, we have plenty of them under `/etc`, as most of our servers read their settings from there.

[2020-08-24 14:23] kuklinistvan commented on #3
Do we support environment variables already? :)

[2020-08-24 19:06] VikashKothary commented on #3
I've not tested it. But the anki sync server currently supports environment variables. As linked above.
We could add documentation around it, but it isn't critical right now.

[2020-08-24 19:18] kuklinistvan commented on #3
Okay, closing this then and we'll get back to here once it becomes a priority.

[2020-08-26 11:47] kuklinistvan commented on #4
I've added the line - please reopen the issue if you experience problems.

[2020-08-26 11:47] #4 closed

[2020-08-28 01:31] kaharjan opened #5 "Will it work on newest version on of Anki desktop?"
After setting up my Anki server by going through docker-anki-sync-server, recently I upgraded my Anki server to https. Since then the latest AnkiDroid (2.12.1) works perfect, right now I am wondering could I upgrade my AnkiDesktop(Version 2.1.19) to the latest version? is there anyone has done ?
Thank you!

[2020-08-28 17:31] kuklinistvan commented on #5
Hello @kaharjan,

Unfortunately, **it is not expected to work**, but miracles may always happen.

@genedan has mentioned recently that he could get the server working with desktop client version 2.1.26. This is far from official, though, as we are struggling with heavier protocol changes in the clients.

You can learn more on this on our [Gitter](https://gitter.im/ankicommunity/community) and [her

[2020-09-13 04:50] kaharjan commented on #5
Thank you, if so I will stick to  AnkiDesktop(Version 2.1.19), right now AnkiDroid (2.12.1)  works really perfect, I am still very happy!!!
Thank you very much!!!

[2020-09-13 06:10] kuklinistvan commented on #5
Not at all. Good luck :)

[2020-09-13 06:10] #5 closed

[2020-09-17 21:33] jinshaopu opened #6 "couldn't login on windows desktop 2.1.33"
when login clicked,show unknow usr or passwd

[2020-09-17 21:44] #6 closed

[2020-09-19 14:42] pluveto opened #7 "SyncRedirector no longer works for lastest anki version"
* **AnkiDesktop version number:** 2.1.33

## Summary

From https://ankiweb.net/shared/info/2124817646
[code]
And it's unable to install this by Addons Manager of Anki

[2020-09-21 07:05] kuklinistvan commented on #7
Hello,

I've just updated the [README](https://github.com/ankicommunity/docker-anki-sync-server/blob/0d6f29deb1c31330059717e6ceab3c5fdcc9dbfd/README.md#news) - you can learn more about the reasons of this problem there.

We have contributors working on newer servers right now, stay tuned and follow us on [Gitter](https://gitter.im/ankicommunity/community)!

Feel free to reopen this issue of you ha

[2020-09-21 07:05] #7 closed

[2020-09-28 06:46] ribtoks opened #8 "Does not work on Raspberry Pi (Arm)"
## Summary

#### Reproduction (what did you do - the more details you give, the better):

Installed anki sync server through docker-compose

#### What was expected to happen:

Anki sync server is working

#### What happened instead (the more details you give, the better):

Docker container kept restarting with error `standard_init_linux.go:211: exec user process caused "exec format error"` which h

[2020-09-28 07:02] kuklinistvan commented on #8
Hello,

I think it is the same as https://github.com/kuklinistvan/docker-anki-sync-server/issues/11. Can you rebuild the image on your platform and try it again?

[2020-09-28 07:51] ribtoks commented on #8
@kuklinistvan Thanks for fast reply. Your suggestion fixes the problem - I run `build.sh` and after that it works. However, Anki 2.1.19 artifacts are not available on GitHub releases page and I'm not comfortable installing it from Mega.

Is there any way to make sync work on latest Anki for macOS?

[2020-09-28 07:51] #8 closed

[2020-09-28 07:58] kuklinistvan commented on #8
You're welcome :)

Our crew is working on the latest version, see the updates here:

https://github.com/ankicommunity/docker-anki-sync-server#news

Regarding to the download, I have provided checksums for you to see if any "bonus code" has been added to the original installer. Also, I don't think the original Anki maintainers have removed the archived version, but moved it to somewhere else.

If y

[2020-10-06 10:11] nathmo opened #9 "Dont work on ARM CPU"
* **AnkiDesktop version number:2.1.35**
* **AnkiDroid version number: Not used**

## Summary
I tried to install this docker image on ubuntu server for ARM 64 bit and it failed miserably with
"anki-sync-server_1  | standard_init_linux.go:211: exec user process caused "exec format error""
I didn't realised the image was not compatible with ARM (im a noob to docker too)

Reproduction (what did you do

[2020-10-06 10:24] kuklinistvan commented on #9
Hello,

I think it is the same as kuklinistvan#11. Can you rebuild the image on your platform and try it again?

[2020-10-06 10:28] nathmo commented on #9
Sorry I missed this one :"https://github.com/kuklinistvan/docker-anki-sync-server/issues/11"
I will try but i have no experience on how to make a docker image.
I believe i should install this manually ? https://github.com/ankicommunity/anki-sync-server
but if you could give me a track on how to do so i would be really thankful

[2020-10-06 10:32] kuklinistvan commented on #9
From https://github.com/kuklinistvan/docker-anki-sync-server/issues/11 :)

All you have to do is to clone this repository to your Pi and execute `build.sh` ;)

[2020-10-06 10:53] nathmo commented on #9
okay i ran the build.sh im just confused so to recap :
I made an a docker image
a docker image is like a class ?
i want to start a container
a container is like an object ?
I used to do it with docker-compose up and the docker-compose.yml. and im not very comfortable with docker itself
I ran "docker run anki-sync-server:tsudoko-ankisyncd-2.1.0-plus-2bfccf7f"
`Creating new configuration file: ankis

[2020-10-07 08:06] kuklinistvan commented on #9
Hello again,

I would like to do my best to make your experience as painless as possible. Unfortunately, though, I do not have the time to provide you absolute-beginner Docker support, mostly because you can find the accurate answers in a couple seconds on Google  - or you can wait for me a day or two to direct you to the search result.

If you are not familiar with the Docker terminology (such as

[2020-10-07 08:31] nathmo commented on #9
thanks a lot. i figured out many things in the span of 24 hours. For beginners like me it's nice to have a few keyword to google, an entry point more than full nooby guide that aldready exist somewhere else. (Thanks a lot for the glossary)
I will investigate the docker commit thing.
If i may offer my help to update the documentation in a more beginner friendly way i would be glad too.

[2020-10-07 08:34] kuklinistvan commented on #9
I'm happy to accept pull requests, if you wish to help ;)

[2020-10-10 12:02] VikashKothary opened #11 "Deploy to DockerHub"
To the `AnkiCommunity` Org.

[2020-10-10 12:29] kuklinistvan commented on #11
I think the main README needs a clean overview of the (new) links somewhere in the front - let me deploy the image after the README gets cleaned. I'm sorry, I'm now a little bit busy with another project but I'll check back from time to time.

[2020-10-22 13:05] kuklinistvan commented on #11
I think I'll continue with this next time

[2020-10-23 07:01] kuklinistvan commented on #11
I did some quick inventory. Right now on DockerHub, under the organization we have:
* djankiserv
* djankiserv-static

None of them seems to have publicity (i.e. mentioned on the wiki or elsewhere).
Under my account I have docker-anki-sync-server, which supports Anki Desktop version 2.1.19 only.

Before I move the images to the organization, I think it would be a good idea to clarify some details:

[2020-10-25 11:20] VikashKothary commented on #11
@kuklinistvan I totally agree with all your points and your solution.

As the actions, as I see them are:
- **Move the addon to our new [addons repo](https://github.com/ankicommunity/anki-desktop-addons)**: This is more a separate initiative, but we've got a lot of addons flying around. We moving them all to one place.
- **Rename current Docker folder to the Docker image name**: I think `anki-sync

[2020-10-27 16:46] kuklinistvan commented on #11
Rename to what? :)

Got it otherwise, next time I'll continue this

[2020-11-08 13:54] kuklinistvan commented on #11
Hello,

Yesterday I wrote a longer reply - but it seems that I have closed the browser window before hitting send.

Long story short: I started moving things around, but I had trouble launching the server and building the Docker image. With time I will probably figure out how to do it on my own, but if you could wrote here a quick draft on how you usually build `djankiserv` and the images, that wo

[2020-11-15 19:17] kovacs-andras commented on #11
Have you set up automated builds into the dockerhub?

[2020-11-15 21:37] luwol03 opened #13 "Update git submodule"
Hello guys,

I found it very difficult to understand, how these repos are connected together. so I then made myself and made a simple diagram.  in doing so, i came across the question, why don't you take your own anki sync server out of the organization.  that made it very difficult for me to understand.

I suggest to update the git submodule to the organizations anki sync server.

![Anki-Seite-2]

[2020-11-16 01:27] AntonOfTheWoods commented on #11
Wow, I keep missing these messages... :-(. https://github.com/ankicommunity/djankiserv/blob/master/scripts/buildimages.sh builds and uploads the images to the repo for the envvar `DJANKISERV_DOCKER_REPO`. If the commit is on a git tag, it gets tagged and pushed with that. If not, you get the last tag + nb_commits_since_tag + short_commit_sha (via `git describe --tags`).
As long as docker is logged

[2020-11-18 22:24] feldspar9 opened #14 "Problem following Howto"
Hi,

I am trying to follow the instructions here: https://ankicommunity.github.io/Tutorials/Docker/Howto/

I have set up the docker, confirmed using the hello world command as per here https://ankicommunity.github.io/Tutorials/Docker/Howto/

Now I am trying to run this command

docker run -it \
       --mount type=bind,source="$PERSISTENCE_DIR",target=/app/data \
       -p 27701:27701 \
       --n

[2020-11-19 17:42] qualiscumque opened #15 "AnkiDroid sync issue"
* **AnkiDesktop version number:**
* **AnkiDroid version number:**
Version 2.14.0

## Summary

Syncing seems to work but still leads to the following exception in the app:

`org.json.JSONException: A JSONObject text must begin with '{' at character 1 of Anki sync Server.`

Reproduction (what did you do - the more details you give, the better):

Running docker-anki-sync-server behind reverse proxy.

[2020-11-25 14:50] kuklinistvan commented on #14
Hey there!

Sorry for the late response.

If my interpretation is correct, you have executed this:

[code]

...which is missing the back slashes, that indicate that the command is not over yet. It should look like this instead:

[code]

In the first case, every line is being interpreted as a separate command.

I hope this fixes your problem, however, **I highly encourage you to learn about shell u

[2020-11-30 12:36] sqlsolver opened #16 "Data table not found"
* **AnkiDesktop version number:**
* **AnkiDroid version number:**

## Summary

Reproduction (what did you do - the more details you give, the better):
Deployed to Azure app service with no changed to the docker-compose other than changing the volume binds to use app service storage.

What was expected to happen:
An Anki app would appear at its assigned URL.

What happened instead (the more details

[2020-12-01 15:20] kuklinistvan commented on #16
Hello,

I need some more information. What request did you send to what URL?

There is no web page to load, as this server is not a web application, but an API.

[2020-12-01 18:35] #14 closed

[2020-12-03 16:00] AntonOfTheWoods commented on #11
BTW, the reason I haven't done any publicity or intend to do any is that I am really prejudiced against using straight docker. I see straight docker (with or without compose) as something you use if you have to use windows and don't have the memory to run a proper container orchestrator on your laptop. That's it. If you ever want to put something on a server you use an orchestrator. I provide a `h

[2020-12-03 16:18] kuklinistvan commented on #11
I have Void Linux installed on my laptop as of yet and use Docker, and actually prefer that way. I do not use Windows with this project.

Some people, including me, just want to get going with synchronization without diving deep into the technical details, and know how to run `docker-compose up`. I want to target that audience as well.

Also, I'm not against Kubernetes (yet :) - just kidding, hope

[2020-12-03 16:25] kuklinistvan commented on #11
And so it is true for `docker-compose` :) You only need these manual steps if you wish to get involved in the development process.

I hardly think that you can skip these instructions just by using plain Helm:
https://github.com/ankicommunity/docker-anki-sync-server/tree/djankiserv-incorp/Docker%20Compose/djankiserv-postgres-nginx

[2020-12-04 00:25] AntonOfTheWoods commented on #11
With the `helm` solution provided you should just need to provide a domain in the publicly accessible DNS that points to your machine and it will not only configure everything, it will also configure you a valid SSL cert. There are a few insecure defaults (like hard-coded passwords) that you could/should override but if you are able to attack that you are already inside.

`docker-compose` is basic

[2020-12-04 14:17] VikashKothary commented on #11
TL;DR; You're both right. It just depends on what you want to do. I would suggest we create an Action Plan so we can agree on next steps. And a list of blockers and so we can get them resolved. @kuklinistvan I know you're doing a ton of tasks between this and the wiki so let us know how we can help.

Adding my 2 cents to the conversation. I think they all have their own use cases. Personally I use

[2020-12-04 14:22] VikashKothary commented on #11
Also for a name, tbh I don't really know. I've been thinking of a nice naming convention for all the repos but I wouldn't said it's the highest priority so let's just drop the `sync` for now. But if you have any better ideas go for it. Maybe you'll inspire me for the rest.

[2020-12-05 21:26] meowmix3 commented on #9
Hey, so I was able to successfully build the Docker image on ARM by changing `FROM library/python:3.7.0-alpine3.8` to `FROM arm64v8/python:3.7.0-alpine3.8` in the Dockerfile.  Haven't tested it extensively, but things look decent from the logs and it's able to respond behind nginx.

Not sure how much help this is to anyone, but thought I would leave a note.

[2020-12-05 21:52] luwol03 commented on #9
I have no issue while building and running a self compiled docker image on armv7l (raspberry pi) with the original docker file.

[2020-12-05 21:59] meowmix3 commented on #9
Oh weird, you're right.  I guess it pulls the native image by default.  Disregard then.

[2020-12-06 16:50] VikashKothary opened #17 "Move to a Standalone Repo"
Forks are treaded as second class citizens on Github. There was also a discussion on the `anki-sync-server` about how it causes confusion: https://github.com/ankicommunity/anki-sync-server/issues/2.

You can see how here: https://stackoverflow.com/questions/18390249/github-make-fork-an-own-project. It involves contacting support. When I did it for the above, I just send them the ticket, and asked

[2020-12-06 17:31] VikashKothary commented on #3
I think this has come back in the implementation of your new `Configuration` folder. You're using `.vars` files in the case I believe we should use `.env` files. Docker Compose automatically loads them, its the default for bash/shell and using them in Python is exteremely easy using `python-dotenv`.

Let me know what you think.

[2020-12-06 18:10] sandroden opened #18 "Remarks on docker-compose"
I was asked to bring here some of the remarks on this docker-compose file and I'm pleased to do it in this issue. In a separate issue, I'll discuss whether we want a repo for the dockerfile/docker-compose or if it's better to keep it together with the source repo. Here I'll start reporting what I already stated in gitter, it's clear that I [already proposed](https://github.com/wikidattica/djankise

[2020-12-07 00:14] sandroden opened #19 "docker-compose file and Dockerfile should be toghether with the code or separate"
This repo provides a `Dockerfile` and `docker-compose.yml` for 2 separate sources and -as far as I understand- currently independent servers.
I think this is misleading. I really would have tried this if I understood there was a branch with the docker-compose but the name of the repo suggested it was the other repo's docker-compose...
I think that at a minimum the two repo should be separated so t

[2020-12-11 12:00] Jackiexiao opened #20 "link to SyncRedirector is dead"
https://github.com/ankicommunity/docker-anki-sync-server/tree/master/Addon%20for%20AnkiDesktop/SyncRedirector

![image](https://user-images.githubusercontent.com/18050469/101901072-7585fa00-3beb-11eb-9810-dbe6c47d224c.png)

[2021-01-02 15:11] fusang1337 opened #22 "When I log in, it shows that the username and password are wrong"
* **AnkiDesktop version number:**  2.1.19
* **AnkiDroid version number:**  2.9.1

## Summary
    When I log in, it shows that the username and password are wrong

Reproduction (what did you do - the more details you give, the better):
    1 docker deployment
    2 Username and password have been set

log:
    auth.db found
    ,collections directory exists
    ,No outdated 'auth' table found.

[2021-01-02 15:46] kuklinistvan commented on #22
Hello,
which client was not able to synchronize?

[2021-01-03 02:08] fusang1337 commented on #22
both
    AnkiDesktop : 2.1.19
    AnkiDroid : 2.9.1

[2021-01-03 10:20] kuklinistvan commented on #20
Hello,
thanks for reporting! Sorry, I've missed this.
I will get back to this soon!

[2021-01-03 10:22] kuklinistvan commented on #15
Hello,
I've totally missed that issue, sorry for that. Can you reproduce the problem with the supported versions (Anki Desktop 2.1.19 and Anki Droid 2.9.1)?

[2021-01-03 10:25] kuklinistvan commented on #13
Hello @luwol03,

For the record, I'm quoting you and @VikashKothary from Gitter:

[2021-01-03 10:26] kuklinistvan commented on #16
I'm closing this due to inactivity. Feel free to reopen it later!

[2021-01-03 10:26] #16 closed

[2021-01-03 15:02] kuklinistvan commented on #22
I see. I did an attempt to reproduce your issue - however, I was a bit occupied (as always :)) and I did not have an installation ready on my current distribution to test your problem.

Now I ran into an issue compiling Anki 2.1.19 for my platform. Meanwhile I'm figuring the latter out, I'm checking the Android version.

I've asked the community about that on [Gitter](https://gitter.im/ankicommuni

[2021-01-10 13:03] chewblacka opened #23 "Remove `portaudio-dev` dependency"
Hi,
I was just wondering why the anki-sync-server docker build requires audio / pyaudio? I realize that anki is capable of audio support (a feature I actually use in some of my decks). But I still don't understand why the sync-server needs audio support? Have I misunderstood a function of the sync server? I use it to synchronize anki decks between different instances of anki I have running (e.g. o

[2021-01-22 14:47] valuex opened #24 "Can't install SyncRedirector for Anki 2.1.38"
* **AnkiDesktop version number:**  2.1.38
* **AnkiDroid version number:**

## Summary

Copy the add-on code 2124817646 and paste it into Anki 2.1.38, Anki says "Invaild code or add-on not availabe for your version"

![image](https://user-images.githubusercontent.com/3627812/105505163-96ba2a00-5d03-11eb-8e79-b40fd0787d89.png)

Please help to check this problem. Thanks

[2021-01-24 15:45] VikashKothary commented on #23
Hi @chewblacka,

You've asked a very good question.

Historically, this server used to use the `anki` source code as a submodule. The `anki` dependency required `PyAudio` to be present when building the project.

But my understanding is that when we updated to use the `anki` dependency on PyPI, this meant that `PyAudio` is not longer required. See old documetation: https://github.com/ankicommunity

[2021-02-01 06:43] VikashKothary commented on #17
I'm going to pick this up :)

[2021-02-01 07:01] kuklinistvan commented on #17
Thank you!

[2021-02-01 08:10] VikashKothary commented on #19
Another contributor has raised a similar point, and I made some comments about best practices in the ticket. See: https://github.com/ankicommunity/anki-sync-server/issues/69.

But when it comes down to it, I think it's all about scale. Whether you believe the Dockerfile should be kept with code, as a separate repository, or as individual repositories, you're right. Based on the size and the comple

[2021-02-01 08:25] VikashKothary opened #27 "Update folder structure"
# Current

[code]

# Recommended

[code]

# Why

Because the images aren't related, it's better to store them separately. The benefit of this, is that you minimise the shared code so you can make changes to one image without making changes to another.

What do you think @kuklinistvan ?

[2021-02-01 09:49] kuklinistvan commented on #27
I love the idea, let's do this :)

[2021-02-01 16:04] #3 closed

[2021-02-06 19:30] VikashKothary commented on #17
This has now been resolved.

[2021-02-06 19:30] #17 closed

[2021-02-06 21:47] #27 closed

[2021-02-09 04:53] CharlyJr opened #29 "anki server sync not sync"
when click in sync...

conection error
error decoding response body: missing field mod at line 1 column 99

seconds later...

anki id and password are wrong

I can`t use docker image and anki desktop, latest version both and i have installed Djankiserv connect

[2021-02-11 21:07] aslmx commented on #24
Thanks...

after hours of trying to get the docker running, finally i was able to create an account.
I got the Android App from F-Droid somehow connected - i was already a bit shocked that anki-web seems to be more or less "hardcoded". Well not really, but custom server does not really seem to be appreciated....

Then i tried to get the desktop app working. installed 2.1.15 from Linux Mint repos -

[2021-02-21 23:19] #23 closed

[2021-02-21 23:30] VikashKothary commented on #13
This project no longer uses git submodules. It will download the latest release at the time of building.

I hope this resolves this issue. Feel free to open it again if there's anything I missed.

[2021-02-21 23:30] #13 closed

[2021-02-28 11:26] fw-aaron commented on #2
@VikashKothary Would you mind submitting a pull request?

[2021-02-28 11:50] fw-aaron commented on #29
Can reproduce. I installed latest Anki yesterday and latest anki-devops-service today, both on Arch Linux.

[2021-02-28 12:02] limitedAtonement commented on #29
Can reproduce. I installed latest Anki yesterday and latest anki-devops-service today, both on Arch Linux.

[2021-02-28 19:11] VikashKothary commented on #11
Here's what I'm thinking for the Docker CI/CID pipeline

1) If master
- Deploy to DockerHub and GitHub Packages
- Use CalVer Version: YYYYMMDD
- The Same image should also be tagged: latest

2) if develop
- Deploy to GitHub Packages
- Use CalVer Version with Short Commit Hash: YYYYMMDD-abcdef
- (optional) The Same image should also be tagged: latest-develop

[2021-03-02 01:37] yieatn opened #36 "work fine on desktop 2.1.20 and below, but fail to switch to my server since 2.1.30"
* **2.1.30:**
* **AnkiDroid version number:**

## Summary

i use the origin anki-sync-server plugin, which is to put this code in the addons21

`
//init.py
import anki.sync, anki.hooks, aqt

addr = "https://yieatn.ltd:27702/" # put your server address here
anki.sync.SYNC_BASE = "%s" + addr
def resetHostNum():
aqt.mw.pm.profile['hostNum'] = None
anki.hooks.addHook("profileLoaded", resetHostNum)`

t

[2021-03-02 01:43] yieatn commented on #36
i use the origin anki-sync-server plugin, which is to put this code in the addons21
`
//__init__.py
import anki.sync, anki.hooks, aqt

addr = "https://yieatn.ltd:27702/" # put your server address here
anki.sync.SYNC_BASE = "%s" + addr
def resetHostNum():
    aqt.mw.pm.profile['hostNum'] = None
anki.hooks.addHook("profileLoaded", resetHostNum)`

this way work fine on 2.1.20, but fail on 2.1.30
it s

[2021-03-03 21:05] VikashKothary commented on #11
Thanks @automatedempire for your PR for Github Actions.
I'll make a release this weekend and hopefully we'll be able to automatically push an image from master to DockerHub.

The next step is to add the djankiserv docker image to the CI system. I'm not sure if the images works so that'll need to be checked also.
@automatedempire Will you be able to work on that next? (No pressure, just want to kno

[2021-03-03 21:59] VikashKothary commented on #29
This looks like a duplicate of https://github.com/ankicommunity/anki-sync-server/issues/56. It looks like this is an issue in the server rather regarding the Docker image.

[2021-03-03 22:47] automatedempire commented on #11
To add a data point to @kuklinistvan's question:

I had used docker-compose to build and run the anki-sync-server image on a Raspberry Pi, which worked for me for a nice long time. I'm currently working on building a K8s Pi cluster home lab (not done yet), and my eventual goal is to have a locally-hosted Anki sync server running as part of that.

I am currently working on updating the anki-sync-se

[2021-03-08 14:54] VikashKothary commented on #2
@fw-aaron it would be much appreciated 👍🏽

[2021-03-08 16:25] VikashKothary commented on #11
Amazing! Thanks for taking the initiative on this. Much appreciated!

So here's my vision, feel free to share your opinion.

- This repo will handle all the docker images/helm charts from both `anki-sync-server` and `ankisyncd`.
- The development of their software would be independent in their respective repos.
- When a change is made to this repo, a new image is released.
- When a change is made

[2021-03-08 17:10] VikashKothary commented on #11
@automatedempire So I made a release, and it pushed to my personal dockerhub account. 😅

So I think this is because you're using DOCKER_USERNAME for login and in the docker image name.
My first question is, can I create a organisation access token? My understanding is not.

My understanding is that I have to use my personal access token and personal username for the login. And there should be a se

[2021-03-08 18:07] automatedempire commented on #11
Yep, that was a mistake on my part. I thought that variable would be the name of the org, but looking now, I can't find a way to generate an org access token. I tested this against a regular Docker Hub account (didn't have an org to test against, but I'll correct that), so I clearly missed it. I prefer it to be an environment variable to make development/testing easier, so I'll make a patch for th

[2021-04-21 02:59] hackmalife commented on #22
I have similar issues, with same version
When I sync with AnkiDesktop, it prompts userid, password. When I type the userid, password it says "AnkiWeb ID or password was incorrect; please try again." yet it synchronizes.
When I sync with AnkiDroid, it prompts synchronization conflicts and if I donwload overwriting collection, collection becomes empty.
is this issue resolved?

[2021-04-24 04:39] CharlyJr commented on #29
I don't think it's the server, in AnkiDroid it works perfect, it synchronizes me without problems.
I installed the latest version of AnkiDesktop 2.1.43 on Ubuntu 20.04 (before it was on windows) and it doesn't work for me either, it gives me the following horrors:

1)
A connection error has occurred.
Error details: error decoding response body: missing field `mod` at line 1 column 99
2)
The AnkiWe

[2021-04-24 04:42] CharlyJr commented on #29
The server is installed on docker

[2021-04-24 13:26] fw-aaron commented on #29
@CharlyJr Since I cannot get the anki sync server set up, I'm not using it. It's only necessary when you want to study from a different computer. When I do that, I wrote a script that copies `~/.local/Anki` and `~/.local/Anki2` to my current machine, runs anki, then copies them back. Good luck out there!

[2021-04-24 13:27] limitedAtonement commented on #29
@CharlyJr Since I cannot get the anki sync server set up, I'm not using it. It's only necessary when you want to study from a different computer. When I do that, I wrote a script that copies ~/.local/Anki and ~/.local/Anki2 to my current machine, runs anki, then copies them back. Good luck out there!

[2021-04-29 03:13] CharlyJr commented on #29
Thanks for the detail!
The topic is that not always I am in house and when I am out to revise with the cellular one it is the double perfect one, that's why my insistence in spite of the fact that the servant mounts, since what I am studying I am loading manually.
Greetings!

[2021-05-04 09:02] vclst commented on #29
As I said on https://github.com/ankicommunity/anki-sync-server/issues/56, I also encountered this issue with the 2.2.0 anki-sync-server release and the 2.1.35-3 anki client.

I made my own docker image, based on the last develop commit. Maybe it could be dangerous on some points, but it fixes the current issue (at least for me): I was able to full upload/download a 200 MB collection.

[2021-06-13 09:30] andrewchenshx commented on #29
same issue.
Version ⁨2.1.44 (b2b3275f)⁩

[2021-06-13 09:37] andrewchenshx opened #43 "ankidroid is using unsupported sync protocol"
* **AnkiDroid version number:**
2.15.4

## Summary

Reproduction (what did you do - the more details you give, the better):
click the "sync" button

What was expected to happen:
sync sucessful.

What happened instead (the more details you give, the better):
your client is using unsupported sync protocol(10, supported version:9)

[2021-07-22 08:07] #36 closed

[2021-07-30 02:26] RetiredWorld commented on #43
Having same issue here. Deploy via docker.

The docker image's last update date is one year ago, and it become imcompatible with the latest AnkiDroid.

I have to build the image on my own with [this script](https://github.com/ankicommunity/anki-devops-services/blob/develop/scripts/build-devops.sh) to make everything work(AnkiDroid, Anki).

[2021-07-30 02:40] andrewchenshx commented on #43
would u pls publish the updated docker image?

[2021-07-30 02:50] RetiredWorld commented on #43
Nope, I may not gonna to matain the image, and later it will become outdated once again.

To build your won image the only thing you need to do is to exec the script.

But seems you are also in China, [my article](https://flag.zeka.cloud/2021/7#%E4%BD%BF%E7%94%A8%20Docker%20%E9%83%A8%E7%BD%B2%20anki-sync-server) may help.

Good luck :)

[2021-07-30 07:28] andrewchenshx commented on #43
@RetiredWorld , thanks.
the working docker image is not the goal, it's just a tool.
so is it possible to update the existing container directly?

[2021-08-10 18:20] jacktheripper19 commented on #29
I get the same error when checking for media log. I didn't notice until recently that new added cards don't play audio. The cards sync well in both anki and ankidroid but the audio in newly added cards don't get to the server apparently and in media log I see the message:

Tue Aug 10 20:12:42 2021: Media sync starting...
Tue Aug 10 20:12:43 2021: A network error occurred.

Error details: ⁨Please f

[2021-11-02 22:13] samyak-jain commented on #11
Hey everyone! Just a friendly ping regarding https://github.com/ankicommunity/anki-sync-server/issues/69. Is the cross-repo github action thing being considered/worked on? While doing it this way probably isn't ideal IMO (at least, I have never seen anyone do it this way), it should be possible. From some quick reading on this, it looks like we will need to do a repository_dispatch (https://docs.g

[2021-11-03 11:01] samyak-jain commented on #9
I think it is worth having a multi-arch image as part of this repo. I have setup a multi-arch image at ```samtan/anki-sync-server:latest``` which should work with amd64 and arm64. I have also setup Github Actions for this here: https://github.com/samyak-jain/anki-sync-server. Would be happy to help upstream this if the maintainers are ok with that.

[2021-11-04 18:32] VikashKothary commented on #11
Hi @samyak-jain, as far as I am aware, the last update on this topic was in March as mentioned above.

If you're happy to work on it, then I'm sure it'll be appreciated.  I think we've still got the issue above where the GitHub Actions need to be modified to deploy to the `AnkiCommunity` DockerHub account and not my personal Dockerhub.

Once that it set up, we can work on triggering a new build on

[2021-11-04 18:42] VikashKothary commented on #9
@samyak-jain That would be great! A PR would be very welcome :)

[2021-11-04 20:32] samyak-jain commented on #11
Hey @VikashKothary. I think changing to the AnkiCommunity DockerHub account should be fairly straightforward. Are the secrets already configured? Do you know what are the names of the secrets I need to use?

I am not sure I understand your proposal using ARGS and ONBUILD. Can you elaborate on that? If I'm understanding this correctly, you want to build an initial image in this repo which has ONBUI

[2021-11-06 23:24] VikashKothary commented on #11
`DOCKERHUB_USERNAME` and `DOCKERHUB_TOKEN` have been set. I can change/update them as you need so just tell me what you need me to do :)

[2021-11-06 23:32] VikashKothary commented on #11
And for the docker image, that's exactly right.

It's just another approach that'll allow us to develop production-ready Dockerfiles in this repo while allowing for automatic deployments when a new release is created in the software repo.

Both approaches allow us to cover all the complexities when developing Dockerfiles (see: https://github.com/ankicommunity/anki-sync-server/issues/69#issuecommen

[2021-11-17 01:49] Flaykz-png commented on #9
Using the image on my 64 bit Ubuntu Server Raspberrypi 4 it seems to be having an issue with syncing the actual cards. It is syncing media but tells me there was an issue, I should try again and the cards don't actually sync. Could the Anki Desktop version be the issue?

[2022-01-27 08:45] aruberuku opened #47 "noob friendly docker setup guide"
Hi,

Thanks for the awesome work with all of this. I just wish I could get it setup properly on my end ... :'(

Any chance a super-noob friendly guide can be thrown out by someone? I am on mac/osx. Docker installed fine. anki-sync-server installed fine to Docker. Cool. And it runs. And the CLI button provides a prompt that allows me to setup an account.

Great.

However, I cannot connect to this s

[2022-01-27 13:33] VikashKothary commented on #47
Hi @aruberuku, I'll be happy to help. We're always looking for opportunities to improve our documentation to make the set up process as easy as possible.

First question: how you had a look at this existing tutorials?

1. We should cover how to setup the anki-sync-server: https://ankicommunity.github.io/Tutorials/Docker/Howto/
2. And how to configure the desktop and Android clients to use the serv

[2022-01-28 03:35] aruberuku commented on #47
Hi @VikashKothary,

I took another look at the guide you provided and managed to successfully setup the server.
However, on synch, I am now getting the error the intermittent "error decoding response body" error described here:

https://forums.ankiweb.net/t/error-decoding-response-body-sync-error/1316/12

I checked and a directory is created on the server side, but no files transfer. Any suggestio

[2022-04-20 18:42] VikashKothary commented on #11
I've made the change. So the anki-sync-server dockerfile should now be available in DockerHub. Thank you to everyone who helped contribute to this feature.

I'm going to keep this issue open util I see a few pulls from Docker Hub to confirm it's working correctly.

[2022-05-09 05:05] AIndoria commented on #9
This would help if there was a way to build it on other platforms. Originally I was just going to use the Dockerfile to use docker buildx to  target ARM64, but that doesn't work either.

This has been an absolute shtshow of trying to compile/use the dockerfile. The dockerfile when used gives an error about

"Could not find a version that satisfies the requirement anki==2.1.40" and it seems like it

[2022-05-16 22:27] VikashKothary commented on #47
Hi @arupakaa, this is a known issue, see: https://github.com/ankicommunity/anki-sync-server/issues/117 and https://github.com/ankicommunity/anki-sync-server/issues/56.

Can you confirm you're using the latest develop branch?

[2022-05-16 22:38] VikashKothary commented on #9
Hi @AIndoria,

I'm sorry you're having trouble getting this to work and I understand that can be quite frustrating. I'm happy to help you though it.
I only ask we be a bit more productive with our messages. Certain language in your message can come across as aggressive to those who are contributing their free time to assist with this project.

Have you tried the images provided by @samyak-jain : h

[2022-05-16 22:40] VikashKothary commented on #9
@Flaykz-png Can you share which desktop version you are using? And which version of anki-sync-server you are using?

[2022-05-16 23:01] arupakaa commented on #47
Thanks. I'll try in a bit, or probably again over the next couple of day.s

On Tue, May 17, 2022 at 7:27 AM Vikash Kothary ***@***.***>
wrote:

[2022-05-17 13:07] kevinsung commented on #47
@VikashKothary Which docker image should we use? The README links to https://hub.docker.com/r/kuklinistvan/anki-sync-server but that was last updated two yeras ago.

[2022-05-17 13:11] VikashKothary commented on #47
You can now find the latest docker images here: https://hub.docker.com/r/ankicommunity/anki-sync-server

[2022-05-17 13:15] kevinsung commented on #47
Thanks, I tried that image, but then the instructions in the README don't seem to apply anymore:
![image](https://user-images.githubusercontent.com/4296166/168819347-70cfb2b0-5b35-4615-9192-0ffec1707779.png)

Specifically, the line
[code]
is no longer applicable.

[2022-05-30 18:39] feuerstein-dev opened #48 "Commands for creating an Account not working anymore, which are the new commands"
Hello, i've set up an Anki Sync Server, with this Docker Image:
https://hub.docker.com/r/ankicommunity/anki-sync-server
Now i have the Problem, that i can enter the command line of the docker container, but the commands aren't working anymore. What are the new commands for the container?
It would be happy if someone could help me.
Thank you in advance :)

[2022-07-02 14:06] VikashKothary commented on #48
Hi @Flinti07,

I apologies for this issue, I was in the process of improving the CLI and happened to break its backward compatibility. You can see that discussion here: https://github.com/ankicommunity/anki-sync-server/issues/128.

TL;DR; It should be `python3 -m ankisyncd_cli`, but it has yet to be tested.

[2022-07-02 14:08] VikashKothary commented on #47
Yes I apologies, that is my mistake. I was refactoring the CLI and broke backward-compatibility. You can see that discussion here: https://github.com/ankicommunity/anki-sync-server/issues/128.

You can see the same issue about the CLI here: https://github.com/ankicommunity/anki-devops-services/issues/48

[2022-07-14 11:03] Zocker1999NET commented on #47
Could these be reflected in the README.md? It took me some time to find this issue regarding that the Docker image url changed. I can propose a change myself if you don't have enough time, however I might not have enough knowledge about this project because I started using it an hour ago

[2022-07-14 20:05] VikashKothary commented on #47
Hi @Zocker1999NET, thank you for bringing this to my attention.

You flagging that information in the README is out-of-date really helps me know where to focus my efforts so it's much appreciated. If you can raise a PR, that would be very welcome. If not, I'll try and update the README when I next have time.

[2022-07-18 11:31] piotryordanov commented on #47
@VikashKothary in the meantime, could you tell us how to make it run?
unfortunately, the current configuration doesn't even run :(

cc: @Zocker1999NET

[2022-07-18 11:35] michojel commented on #47
@piotryordanov Although far from ideal, my current work-around is this: https://github.com/michojel/NixOS/blob/master/michowps/ankisyncd.nix#L76

[2022-07-18 11:36] piotryordanov commented on #47
@michojel thx for the link. However, could you help me run this script? I never worked with nix os before! 🙈

[2022-07-18 11:43] michojel commented on #47
Here is the generated /etc/systemd/system/docker-ankisyncd.service:

[code]

ExecStart script:
[code]

ExecPreStart:
[code]

ExecStop:
[code]

You may want to replace docker.io/michojel/anki-sync-server:latest with the official one or the one built by you.

[2022-08-09 14:28] FSpark opened #50 "Mount destination collections not absolute: unknown."
## Summary
When using docker to install `ankicommunity/anki-sync-server`, an error occurs.

### Reproduction (what did you do - the more details you give, the better):
[code]

### What was expected to happen:
Working well.

### What happened instead (the more details you give, the better):

Installed but failed to start.
[code]

[2022-11-21 09:15] wieluk opened #51 "persistent storage not working with data:/app/data"
Hey I build the image from source because the one from dockerhub doesn't seem to work.
Can you tell us where the data is stored so we can map it?